.eventOptions {
  background-color: #191e28;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 12px;
}

.eventOptions div:hover {
  background-color: #22262f;
  cursor: pointer;
}

.eventOptions div {
  padding: 12px 24px;
  cursor: pointer;
}

.eventOptions {
  background-color: #191e28;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 12px;
}

.eventOptions div:hover {
  background-color: #22262f;
  cursor: pointer;
}

.eventOptions div {
  padding: 12px 24px 12px 24px;
  cursor: pointer;
}

.optionsButton {
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  padding: 6px 0 7px 0;
}

.optionsButton:hover,
.optionsButton:focus,
.optionsButton:active {
  background-color: #999aa1;
}
